
 /*Estilos generales*/
 .text-uppercase{
   text-transform: uppercase;
 }
 body{
   box-sizing: border-box;
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Lato', sans-serif;
 }
 a{
   text-decoration: none;
   color:#ffffff
 }
 /*estilos en el header*/
 header{
   background-color: #2c3e50;
   width: 100%;
   height: 16%;
   position: fixed;
   top: 0
 }
 header span {
   display: inline-block;
   font-family:  'Montserrat', sans-serif;
   font-size: 2em;
   font-weight: 900;
   margin: 36px 124px;
   color:#ffffff;
 }
nav {
  display: inline-block;
  float: right;
  margin: 27px 112px;
}
nav ul {
  display: inline-block;
  margin: 0;

}
nav ul li{
  display: inline-block;
  margin: 15px;
}
nav ul li a{
  font-family:  'Montserrat', sans-serif;
font-size:0.94em;
font-weight: 900;
letter-spacing: 1px
}
nav ul li a:hover{
  color:  #18bc9c;
}
/*estilos de section class="principal" */

.principal {
  background-color: #18bc9c;
/*  height: 84% */
  margin-top: 7%;
  padding: 96px;
  display: block;
}
.principal figure {
  display: block;
  margin-left: 439px;
}
.principal h1{
font-family:  'Montserrat', sans-serif;
font-stretch: extra-condensed;
margin: 24px 0;
text-align: center;
font-size: 4.75em;
color:#ffffff;
}
.first-star{
  display: inline-block;
  color:#ffffff;
  margin:0 453px;
}
i:only-child{
  padding: 0 3px
}
.first-star::before,.first-star::after{
content:"";
display: inline-block;
border-top: 4px solid #ffffff;
vertical-align: 9px;
width: 102px;
}
.principal>p{
  color: #ffffff;
  font-size: 1.7em;
  text-align: center;
}

/*estilos section class=portfolio*/

.portfolio{
  padding: 100px 0;
}
section:nth-child(2n+1) h2{
  color: #212529;
  font-size: 2.9em;
  font-family : 'Montserrat', sans-serif;
  font-stretch: extra-condensed;
  margin:  0;
  text-align: center;
}
.second-star{
  color:#2c3e50;
  display: inline-block;
margin: 20px 550px;
}
.second-star::before,.second-star::after{
content:"";
display: inline-block;
border-top: 4px solid #2c3e50 ;
vertical-align: 9px;
width: 102px;
}
.galery{
float: none;
margin: 0 50px;
}

.galery ul {
list-style: none;
}
.galery ul img{
width: 350px;
}
/*estilos section class=about*/
.about{
  background-color:#18bc9c;
  padding: 84px 0;
}
.about h2{
  color: #ffffff;
  font-size: 2.9em;
  font-family : 'Montserrat', sans-serif;
  font-stretch: extra-condensed;
  margin:0;
  text-align: center;
}
.third-star{
  display: inline-block;
  color:#ffffff;
  margin:26px 550px;
}
.third-star::before,.third-star::after{
content:"";
display: inline-block;
border-top: 4px solid #ffffff;
vertical-align: 9px;
width: 102px;
}
.paragraphs{
  text-align: center;
}
.text{
  color: #ffffff;
  font-size: 1.2em;
  display: inline-block;
  margin: 15px;
  width: 330px;
}
#button{
  background:0 0;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 7px;
  border-width:3px;
  color: #ffffff;
  height: 46px;
  width: 209px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin: 10px 564px
}
#button:hover{
  background-color: #ffffff;
  color: #18bc9c;
  transition: 1s;
}
/*estilos de section class=contact */

.contact-me{
  outline: 1px solid green;
  padding: 84px 0 60px;
}
.contact-me h2{
  color: #212529;
  font-size: 2.9em;
  font-family : 'Montserrat', sans-serif;
  font-stretch: extra-condensed;
  margin:0;
  text-align: center;
}
.fourth-star{
  display: inline-block;
  color:#2c3e50;
  margin:26px 550px;
}
.fourth-star::before,.fourth-star::after{
content:"";
display: inline-block;
border-top: 4px solid #2c3e50;
vertical-align: 9px;
width: 102px;
}

.data-item {
  border-bottom: 1px solid #868e96;
  height: 98px;
  list-style: none;
  margin: 0 300px;
}
input{
  border-style:none ;
  font-family : 'Montserrat', sans-serif;
  height: 50px;
  font-size: 1.3em;
}
.message-item{
  border-bottom: 1px solid #868e96;
  list-style: none;
  display:block;
  margin: 0 300px;
  width: 710px
}
textarea{
  border-style:none ;
  font-family : 'Montserrat', sans-serif;
  font-size: 1.3em;
}
.send{
  list-style: none;
  display: inline-block;
  margin: 24px 300px;
  width: 710px;
}
.send input{
  background-color: #18bc9c;
  width: 78px;
  border-radius: 5px;
  color: #ffffff;
}
.send input:hover{
background-color: #0f9177;
}
/*estilos del footer*/
.footer{
  background-color: #2c3e50;
  padding: 70px 60px 40px;
}
.information{
  color: #ffffff;
  display: inline-block;
  margin:  0 40px;
  text-align:center;
  vertical-align: middle;
}
.information h3{
  font-size: 1.7em;
  font-family:  'Montserrat', sans-serif;
  font-weight: 600;
}
.information p{
  font-size: 1.3em;
  text-align: center;
}
.information a{
color: #18bc9c;
}
.information span:hover{
text-decoration: underline;
}
.information ul{
  padding: 0 10px;
}
.social-item{
  list-style: none;
  display: inline-block;
  border-radius: 100%;
  color: #ffffff;
  border: 2px solid #ffffff;
  width: 50px;
  height: 50px;
  margin: 2px;
}
.social-item:hover{
  background-color: #ffffff;
  transition: 1s;
}
.social-item i {
  line-height: 45px;
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.social-item i:hover{
  color: #18bc9c;
  transition: 1s;
}
.license{
  color:#ffffff;
  text-align: center;
  margin-top: 120px;
}
